In [20]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn import metrics
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm

%matplotlib inline
plt.style.use('fivethirtyeight')

df = pd.read_csv('../data/bikeshare.csv',
                 index_col = 'datetime',
                 parse_dates= True)

In [21]:
df.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
datetime,,,,,,,,,
2011-01-01 00:00:00,Spring,0,0,Clear Skies,9.84,14.395,81,0.0,16
2011-01-01 01:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,40
2011-01-01 02:00:00,Spring,0,0,Clear Skies,9.02,13.635,80,0.0,32
2011-01-01 03:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,13
2011-01-01 04:00:00,Spring,0,0,Clear Skies,9.84,14.395,75,0.0,1

In [22]:
weather_map = {'Clear Skies':4,
               'Partly Cloudy':3,
               'Light Storms/Rain':2,
               'Heavy Storms/Rain':1}

df['weather'] = df['weather'].map(weather_map)

In [23]:
pd.get_dummies(df['season'],
               drop_first = True).head()

                     Spring  Summer  Winter
datetime
2011-01-01 00:00:00       1       0       0
2011-01-01 01:00:00       1       0       0
2011-01-01 02:00:00       1       0       0
2011-01-01 03:00:00       1       0       0
2011-01-01 04:00:00       1       0       0

In [24]:
df = pd.get_dummies(df,
                    drop_first = True)
df.head()

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,season_Spring,season_Summer,season_Winter
datetime,,,,,,,,,,,
2011-01-01 00:00:00,0,0,4,9.84,14.395,81,0.0,16,1,0,0
2011-01-01 01:00:00,0,0,4,9.02,13.635,80,0.0,40,1,0,0
2011-01-01 02:00:00,0,0,4,9.02,13.635,80,0.0,32,1,0,0
2011-01-01 03:00:00,0,0,4,9.84,14.395,75,0.0,13,1,0,0
2011-01-01 04:00:00,0,0,4,9.84,14.395,75,0.0,1,1,0,0

In [25]:
df['temp'] = (df['temp'] - df['temp'].mean()) / df['temp'].std()
df['atemp'] = (df['atemp'] - df['atemp'].mean()) / df['atemp'].std()
df['humidity'] = (df['humidity'] - df['humidity'].mean()) / df['humidity'].std()
df['windspeed'] = (df['windspeed'] - df['windspeed'].mean()) / df['windspeed'].std()

In [26]:
features_some = ['temp',
                 'atemp',
                 'weather',
                 'humidity']

In [27]:
features_all = ['holiday',
                'workingday',
                'weather',
                'temp',
                'atemp',
                'humidity',
                'windspeed',
                'season_Spring',
                'season_Summer',
                'season_Winter']

In [28]:
X_some = df[features_some]
X_all = df[features_all]
y = df['count']

In [29]:
lr = LinearRegression()

In [30]:
lr.fit(X_some, y)
print(lr.score(X_some, y))
print(list(zip(features_some,lr.coef_)))

0.24307517355292274
[('temp', 23.167142726257005), ('atemp', 45.5475191985618), ('weather', -4.591984143850331), ('humidity', -55.18486553237941)]

In [31]:
lr.fit(X_all, y)
print(lr.score(X_all, y))
print(list(zip(features_all, lr.coef_)))

0.2752503232099429
[('holiday', -8.630472341320143), ('workingday', -2.861549482797657), ('weather', -2.6516939362713394), ('temp', 62.03831630929894), ('atemp', 24.652283817352092), ('humidity', -54.257685839318555), ('windspeed', 4.420026574191246), ('season_Spring', 37.770716087580034), ('season_Summer', 34.97948628938873), ('season_Winter', 102.9792029705163)]

In [32]:
# alt, quick implementation:
#############################
X = df.loc[:, df.columns != 'count']
y = df['count']

# weather_map = {'Clear Skies':4,
#                'Partly Cloudy':3,
#                'Light Storms/Rain':2,
#                'Heavy Storms/Rain':1}

# df['weather'] = df['weather'].map(weather_map)

num_cols = X.select_dtypes(include=np.number).columns.tolist()
X_std = (X[num_cols] - X[num_cols].mean()) / X[num_cols].std()

In [33]:
lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [34]:
coeffs = pd.DataFrame({
    'Vars': X_std.columns,
    'Weight': lr.coef_
}).sort_values(by='Weight', ascending=False)
coeffs

            Vars      Weight
9  season_Winter  102.979203
3           temp   62.038316
7  season_Spring   37.770716
8  season_Summer   34.979486
4          atemp   24.652284
6      windspeed    4.420027
2        weather   -2.651694
1     workingday   -2.861549
0        holiday   -8.630472
5       humidity  -54.257686

In [35]:
mod = sm.OLS(y, X)
results = mod.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  count   R-squared:                       0.651
Model:                            OLS   Adj. R-squared:                  0.651
Method:                 Least Squares   F-statistic:                     2030.
Date:                Wed, 31 Jul 2019   Prob (F-statistic):               0.00
Time:                        21:05:27   Log-Likelihood:                -70401.
No. Observations:               10886   AIC:                         1.408e+05
Df Residuals:                   10876   BIC:                         1.409e+05
Df Model:                          10
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
holiday           2.0266      9.246      0.219      0.826     -16.096      20.150
workingday        8.2734      3.229      2.562      0.010       1.945      14.602
weather          31.9701      1.128     28.351      0.000      29.760      34.181
temp             84.0744      9.374      8.969      0.000      65.700     102.448
atemp            13.6727      9.031      1.514      0.130      -4.031      31.376
humidity        -42.1665      1.619    -26.041      0.000     -45.341     -38.992
windspeed         6.4427      1.633      3.946      0.000       3.242       9.643
season_Spring    79.3370      6.365     12.464      0.000      66.860      91.814
season_Summer    59.5818      4.453     13.379      0.000      50.852      68.311
season_Winter   134.8750      5.385     25.046      0.000     124.319     145.431
==============================================================================
Omnibus:                     1997.158   Durbin-Watson:                   0.437
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3709.610
Skew:                           1.145   Prob(JB):                         0.00
Kurtosis:                       4.712   Cond. No.                         32.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [37]:
df['hour'] = df.index.hour

In [38]:
df

,holiday,workingday,weather,temp,atemp,humidity,windspeed,count,season_Spring,season_Summer,season_Winter,hour
datetime,,,,,,,,,,,,
2011-01-01 00:00:00,0,0,4,-1.333599,-1.092687,0.993167,-1.567682,16,1,0,0,0
2011-01-01 01:00:00,0,0,4,-1.438841,-1.182367,0.941206,-1.567682,40,1,0,0,1
2011-01-01 02:00:00,0,0,4,-1.438841,-1.182367,0.941206,-1.567682,32,1,0,0,2
2011-01-01 03:00:00,0,0,4,-1.333599,-1.092687,0.681399,-1.567682,13,1,0,0,3
2011-01-01 04:00:00,0,0,4,-1.333599,-1.092687,0.681399,-1.567682,1,1,0,0,4
2011-01-01 05:00:00,0,0,3,-1.333599,-1.271456,0.681399,-0.832404,1,1,0,0,5
2011-01-01 06:00:00,0,0,4,-1.438841,-1.182367,0.941206,-1.567682,2,1,0,0,6
2011-01-01 07:00:00,0,0,4,-1.544083,-1.271456,1.252975,-1.567682,3,1,0,0,7
2011-01-01 08:00:00,0,0,4,-1.333599,-1.092687,0.681399,-1.567682,8,1,0,0,8
2011-01-01 09:00:00,0,0,4,-0.912633,-0.735148,0.733360,-1.567682,14,1,0,0,9
2011-01-01 10:00:00,0,0,4,-0.596908,-0.467289,0.733360,0.514237,36,1,0,0,10
2011-01-01 11:00:00,0,0,4,-0.702149,-0.824828,0.993167,0.759603,56,1,0,0,11
2011-01-01 12:00:00,0,0,4,-0.386424,-0.288519,0.785322,0.759603,84,1,0,0,12
2011-01-01 13:00:00,0,0,3,-0.175941,-0.109750,0.525514,0.881875,94,1,0,0,13
2011-01-01 14:00:00,0,0,3,-0.175941,-0.109750,0.525514,0.759603,106,1,0,0,14
2011-01-01 15:00:00,0,0,3,-0.281183,-0.198839,0.785322,0.881875,110,1,0,0,15
2011-01-01 16:00:00,0,0,3,-0.386424,-0.288519,1.045129,0.881875,93,1,0,0,16
2011-01-01 17:00:00,0,0,3,-0.281183,-0.198839,1.045129,0.759603,67,1,0,0,17
2011-01-01 18:00:00,0,0,2,-0.386424,-0.288519,1.356898,0.514237,35,1,0,0,18
2011-01-01 19:00:00,0,0,2,-0.386424,-0.288519,1.356898,0.514237,37,1,0,0,19
2011-01-01 20:00:00,0,0,3,-0.491666,-0.377609,1.304936,0.514237,36,1,0,0,20
2011-01-01 21:00:00,0,0,3,-0.491666,-0.377609,1.304936,0.024325,34,1,0,0,21
2011-01-01 22:00:00,0,0,3,-0.491666,-0.377609,1.668666,0.269691,28,1,0,0,22
2011-01-01 23:00:00,0,0,3,-0.175941,-0.109750,1.356898,0.881875,39,1,0,0,23
2011-01-02 00:00:00,0,0,3,-0.175941,-0.109750,1.356898,0.881875,17,1,0,0,0
2011-01-02 01:00:00,0,0,3,-0.281183,-0.198839,1.668666,0.514237,17,1,0,0,1
2011-01-02 02:00:00,0,0,3,-0.386424,-0.288519,1.980435,0.759603,9,1,0,0,2
2011-01-02 03:00:00,0,0,3,-0.175941,-0.109750,1.668666,0.024325,6,1,0,0,3
2011-01-02 04:00:00,0,0,3,-0.175941,-0.109750,1.668666,0.024325,3,1,0,0,4
2011-01-02 06:00:00,0,0,2,-0.386424,-0.288519,0.785322,0.881875,2,1,0,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-18 18:00:00,0,1,4,-0.596908,-0.467289,-0.825484,1.127241,525,0,0,1,18
2012-12-18 19:00:00,0,1,4,-0.596908,-0.467289,-0.825484,1.617153,353,0,0,1,19
2012-12-18 20:00:00,0,1,4,-0.702149,-0.824828,-0.617638,0.514237,268,0,0,1,20
2012-12-18 21:00:00,0,1,4,-0.702149,-0.735148,-0.617638,0.269691,168,0,0,1,21
2012-12-18 22:00:00,0,1,4,-0.807391,-0.824828,-0.669599,-1.567682,132,0,0,1,22
2012-12-18 23:00:00,0,1,4,-0.807391,-0.735148,-0.669599,-0.832404,81,0,0,1,23
2012-12-19 00:00:00,0,1,4,-1.017874,-0.913917,-0.046062,-1.567682,41,0,0,1,0
2012-12-19 01:00:00,0,1,4,-1.017874,-0.913917,0.161784,-0.832404,15,0,0,1,1
2012-12-19 02:00:00,0,1,4,-1.123116,-1.003597,0.161784,-0.832404,3,0,0,1,2
2012-12-19 03:00:00,0,1,4,-1.228358,-1.182367,0.681399,-0.465586,5,0,0,1,3
2012-12-19 04:00:00,0,1,4,-1.333599,-1.361136,0.681399,-0.465586,7,0,0,1,4
2012-12-19 05:00:00,0,1,4,-1.228358,-1.092687,0.681399,-0.832404,31,0,0,1,5
2012-12-19 06:00:00,0,1,4,-1.333599,-1.271456,0.681399,-0.832404,112,0,0,1,6
2012-12-19 07:00:00,0,1,4,-1.228358,-1.182367,0.681399,-0.465586,363,0,0,1,7
2012-12-19 08:00:00,0,1,4,-1.333599,-1.271456,1.304936,-0.710132,678,0,0,1,8
2012-12-19 09:00:00,0,1,4,-1.123116,-1.092687,0.681399,-0.710132,317,0,0,1,9
2012-12-19 10:00:00,0,1,4,-0.912633,-0.824828,0.421591,-0.710132,164,0,0,1,10
2012-12-19 11:00:00,0,1,4,-0.491666,-0.377609,-0.409792,0.269691,200,0,0,1,11
2012-12-19 12:00:00,0,1,4,-0.491666,-0.377609,-0.409792,0.759603,236,0,0,1,12
2012-12-19 13:00:00,0,1,4,-0.386424,-0.288519,-0.617638,0.024325,213,0,0,1,13
2012-12-19 14:00:00,0,1,4,-0.386424,-0.288519,-0.617638,0.024325,218,0,0,1,14
2012-12-19 15:00:00,0,1,4,-0.386424,-0.288519,-0.617638,0.759603,237,0,0,1,15
2012-12-19 16:00:00,0,1,4,-0.386424,-0.288519,-0.617638,1.371787,334,0,0,1,16
2012-12-19 17:00:00,0,1,4,-0.491666,-0.377609,-0.617638,1.617153,562,0,0,1,17
2012-12-19 18:00:00,0,1,4,-0.596908,-0.467289,-0.617638,1.371787,569,0,0,1,18
2012-12-19 19:00:00,0,1,4,-0.596908,-0.467289,-0.617638,1.617153,336,0,0,1,19
2012-12-19 20:00:00,0,1,4,-0.702149,-0.735148,-0.253908,0.269691,241,0,0,1,20
2012-12-19 21:00:00,0,1,4,-0.807391,-0.913917,-0.046062,0.269691,168,0,0,1,21
2012-12-19 22:00:00,0,1,4,-0.807391,-0.735148,-0.046062,-0.832404,129,0,0,1,22
2012-12-19 23:00:00,0,1,4,-0.912633,-0.824828,0.213746,-0.465586,88,0,0,1,23

In [ ]:
prices = pd.read_csv('../data/sac_re_cat.csv',
                     index_col = 'sale_date')

In [ ]:
prices.head()

In [ ]:
prices.info()

In [ ]:
prices['zip'] = prices['zip'].astype('category')

In [ ]:
transformed = prices.groupby('zip')['zip'].transform('count')

In [ ]:
prices['zip'] = np.where(transformed < 25,
                         'Other',
                         prices['zip'])

In [ ]:
prices['zip'].value_counts()

In [ ]:
prices.loc[prices['sq__ft'] < 0, 'sq__ft'] = prices.loc[prices['sq__ft'] < 0, 'sq__ft'] * -1

In [ ]:
prices.loc[prices['price'] < 0, 'price'] = prices.loc[prices['price'] < 0, 'price'] * - 1

In [ ]:
prices = prices[(prices['sq__ft'] > 0)
               & (prices['baths'] > 0)
               & (prices['beds'] > 0)]

In [ ]:
prices.head()

In [ ]:
transformed_city = prices.groupby('city')['city'].transform('count')

In [ ]:
prices['city'] = np.where(transformed_city < 25,
                         'OtherC',
                          prices['city'])

In [ ]:
prices['city'].value_counts()

In [ ]:
prices['state'].value_counts()

In [ ]:
pd.get_dummies(prices.drop(['state','street'], axis = 1),
               drop_first = True)

In [ ]:
prices = pd.get_dummies(prices.drop(['state','street'], axis = 1),
                        drop_first = True)
prices.head()

In [ ]:
X_p = prices.loc[:, prices.columns != 'price']
y_p = prices['price']


num_cols = X_p.select_dtypes(include=np.number).columns.tolist()
X_p_std = (X_p[num_cols] - X_p[num_cols].mean()) / X_p[num_cols].std()

In [ ]:
lr.fit(X_p, y_p)

In [ ]:
lr.score(X_p, y_p)

In [ ]:
mod = sm.OLS(y_p, X_p)
results_p = mod.fit()
print(results_p.summary())

In [ ]:
prices['prediction']  = lr.predict(X_p)

In [ ]:
mae = np.mean(np.abs(prices['price'] - prices['prediction']))

In [ ]:
mae

In [ ]:
mse = np.mean((prices['price'] - prices['prediction'])**2)

In [ ]:
mse

In [ ]:
print('MAE:', metrics.mean_absolute_error(prices['price'], prices['prediction']))
print('MSE:', metrics.mean_squared_error(prices['price'], prices['prediction']))